@charset "UTF-8";
*{
	margin:0 auto;
}
.boardBox {
	width: 700px;
	height: 700px;
	margin: 100px auto;
	text-align: center;
	border: 1px solid lightgray;
}

h1{
	margin:70px 0 0 0px;
}

form{ /*list랑 view 적용 안됨*/
	margin:60px 0 0 25px;
}

.list{/*boardList의 table*/
	margin:50px auto;
	
}

.listWrap{
/*	background-color: peachpuff;*/
	width:650px;
	height:400px;
	margin: 0 0 0 20px;
	/*overflow: auto;*/
}


.view{/*boardview의 table*/
	margin:50px auto;
}

/*view 내용*/
.textBox{
	width:615px;
	height:200px;
	overflow: auto;
}

table {
	width: 650px;
	border-collapse: collapse;
	font-size: 12px;
	line-height: 24px;
	
}

	
th{
	background-color:lightgray;
	
	
}
th, td{
	height:30px;
	border-top:lightgray solid 1px;
	border-bottom:lightgray solid 1px;
	
}
.subject{
	width:400px;
}
a {
	text-decoration: none;
	color: black;
}

a:HOVER {
	/*text-decoration: underline;*/
	color: lightgray;
}
input,textarea{
	border:1px solid lightgray;
}
textarea{
	margin:5px 0 0 0px;
	padding:0 0 0 5px;
}
.inputBox{
	width:50%;
	float:left;
	margin: 0 0 0 30px;
	padding:0 0 0 10px;
}
.btn1{ /*배경흰색*/
	width:60px;
	height:30px;
	background-color: white;
	color: rgb(0, 175, 133);
	border: 1px solid rgb(0, 175, 133);
	border-radius: 5px;
	margin:0 0 5px 0px;
}
.btn2{ /*배경시그니처컬러*/
	width:60px;
	height:30px;
	background-color: rgb(0, 175, 133) ;
	color:white;
	border: 1px solid rgb(0, 175, 133);
	border-radius: 5px;
	margin:0 0 5px 0px;
}

.dot{
	float:left;
	color:rgb(0, 175, 133);
}

